:root {
  --clr-lightBlue: #1992d4;
  --clr-lightGray: #e2e8f0;
  --clr-gray: #676767;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-orange: #f0b429;
  --clr-shadow: rgba(0, 0, 0, 0.227);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ======================= 
       GRID-CONTAINER 
   ======================= */
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.1fr 4fr;
  grid-template-rows: 1.18fr 5fr;
}

/* ======================= 
          HEADER 
   ======================= */
header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  padding: 0.9375rem 1.25rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
  box-shadow: 0rem 0.125rem 0.3125rem var(--clr-shadow);
  z-index: 1;
}

/* Row-NavBar-Top */
.row-navbar-top,
.row-navbar-bottom {
  /* border: 0.0625rem solid #000; */
  width: 65.625rem;
  margin: auto;
}

.row-navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form.row-navbar-top-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.form_icon {
  width: 1.5625rem;
}

.form_control {
  margin-left: 0.9375rem;
  padding: 0 1.25rem;
  width: 35rem;
  height: 1.875rem;
  background-color: var(--clr-lightGray);
  font-size: 1rem;
  border: none;
  border-radius: 1.25rem;
  outline: none;
}

/* Row-Navbar-Top-Right */
.row-navbar-top-right {
  flex-grow: 1.6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-right-boy-darren-icon {
  width: 3.125rem;
}

.right-profile-name {
  font-size: 1.25rem;
}

/* Row-NavBar-Bottom */
.row-navbar-bottom {
  margin-top: 1.5625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Row-NavBar-Bottom-Left */
.row-navbar-bottom-left {
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.top-left-boy-darren-icon {
  width: 4.375rem;
}

.intro {
  margin-left: 1.25rem;
}

.intro .greetings {
  font-weight: 600;
}

/* Row-NavBar-Bottom-Right */
.row-navbar-bottom-right {
  flex-grow: 0.7;
}

.nav-bar-btn {
  display: flex;
  justify-content: space-between;
}

.nav-item-btn {
  list-style: none;
}

.nav-bar-btn-btn {
  padding: 0.75rem 2.1875rem;
  background-color: var(--clr-lightBlue);
  color: var(--clr-white);
  border: none;
  border-radius: 1.375rem;
  font-size: 0.9375rem;
}

/* ======================= 
            ASIDE 
   ======================= */
aside {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  background-color: var(--clr-lightBlue);
  color: var(--clr-white);
}

/* Dashboard */
.dashboard {
  margin: 0.9375rem 0 0 0.9375rem;
  display: flex;
  align-items: center;
}

.dashboard_icon {
  width: 3.125rem;
}

.dashboard_title {
  margin-left: 0.625rem;
  font-size: 1.75rem;
  font-weight: 500;
}

/* Col-NavBar */
.col-navbar {
  margin-left: 1.875rem;
}

.nav_link {
  display: flex;
  align-items: center;
}

.nav_icon {
  margin-right: 1.125rem;
  width: 1.5625rem;
}

.nav_bar {
  margin: 3.75rem 0 4.375rem;
}

.nav_item {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  list-style: none;
}

.nav_link {
  text-decoration: none;
  color: var(--clr-white);
}
/* ======================= 
            MAIN 
   ======================= */
main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: var(--clr-lightGray);
  display: grid;
  grid-template-columns: 2fr 0.8fr;
}
/* ======================= 
         Projects 
 ======================= */
.proj {
  width: 95%;
  margin: 1.5625rem auto 3.75rem;
}

.proj_container {
  margin-top: 0.625rem;
  display: grid;
  gap: 1.5625rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(13.75rem, 1fr));
}

/* Card-Projects */
.proj .card {
  border-left-style: solid;
  border-color: var(--clr-orange);
  border-width: 0.4375rem;
  background-color: var(--clr-white);
  border-radius: 0.4375rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem var(--clr-shadow);
}

.proj .card_body {
  width: 100%;
  height: 100%;
  padding: 2.1875rem 1.5625rem 1.5625rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proj .card_title {
  margin-bottom: 0.3125rem;
}

.proj .card_text {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--clr-gray);
}

.proj .card_link_content {
  align-self: flex-end;
}

.proj .card_link {
  margin-left: 1.25rem;
}

/* ======================= 
        Articles  
 ======================= */
.articles {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

/* Announcements */
.annc {
  width: 90%;
  margin-top: 1.5625rem;
}

.annc .card {
  margin-top: 0.625rem;
  width: 100%;
  padding: 1.875rem;
  background-color: var(--clr-white);
  border-radius: 0.4375rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem var(--clr-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
}

.annc .card_text {
  font-size: 0.6875rem;
  font-weight: 300;
  color: var(--clr-gray);
}

.annc hr {
  border-top: 0.0625rem var(--clr-gray);
  border-style: solid none none none;
}

/* Trending */
.trend {
  width: 90%;
  margin-top: 0.625rem;
}

/* Trending-Card */
.trend .card {
  margin-top: 0.625rem;
  width: 100%;
  padding: 1.25rem 1.875rem 0.6875rem;
  background-color: var(--clr-white);
  border-radius: 0.4375rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem var(--clr-shadow);
}

.list_group_item {
  list-style: none;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.list_group_details p:nth-child(1) {
  font-weight: 500;
}

.list_group_details p:nth-child(2) {
  color: var(--clr-gray);
}

.list_group_icon {
  width: 3.125rem;
}

.list_group_text {
  font-size: 0.75rem;
}

/* ======================= 
          HOVER 
 ======================= */
.dashboard_icon:hover,
.dashboard_title:hover,
.form_icon:hover,
.top-right-icons:hover,
.right-profile-name:hover,
.nav-bar-btn-btn:hover {
  color: var(--clr-gray);
  cursor: pointer;
}
