:root {
  --clr-lightBlue: #1992d4;
  --clr-lightGray: #e2e8f0;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-orange: #f0b429;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ======================= 
       GRID-CONTAINER 
   ======================= */
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.1fr 4fr;
  grid-template-rows: 1.18fr 5fr;
}

/* ======================= 
          HEADER 
   ======================= */
header {
  grid-column: 2 / 3;
  padding: 15px 20px;
  background-color: var(--clr-white);
  color: var(--clr-black);
}
/* Row-NavBar-Top */
.row-navbar-top,
.row-navbar-bottom {
  border: 1px solid #000;
}

.row-navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

form {
  display: flex;
  align-items: center;
}

.form_icon {
  width: 25px;
}

.form_control {
  margin-left: 15px;
  padding: 0 20px;
  width: 560px;
  height: 30px;
  background-color: var(--clr-lightGray);
  font-size: 16px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.top-right-boy-darren-icon {
  width: 50px;
}

.top-right-icons {
  margin-right: -70px;
}

.right-profile-name {
  font-size: 20px;
}

/* Row-NavBar-Bottom */
.top-left-boy-darren-icon {
  width: 70px;
}

/* ======================= 
            ASIDE 
   ======================= */
aside {
  grid-row: 1 / -1;
  background-color: var(--clr-lightBlue);
  color: var(--clr-white);
}

/* Dashboard */
.dashboard {
  margin: 15px 0 0 15px;
  display: flex;
  align-items: center;
}

.dashboard_icon {
  width: 50px;
}

.dashboard_title {
  margin-left: 10px;
  font-size: 28px;
  font-weight: 500;
}

/* Col-NavBar */
.col-navbar {
  margin-left: 30px;
}

.nav_link {
  display: flex;
  align-items: center;
}

.nav_icon {
  margin-right: 18px;
  width: 25px;
}

.nav_bar {
  margin: 60px 0 70px;
}

.nav_item {
  margin-bottom: 20px;
  font-size: 20px;
  list-style: none;
}

.nav_link {
  text-decoration: none;
  color: var(--clr-white);
}
/* ======================= 
            MAIN 
   ======================= */
main {
  background-color: var(--clr-lightGray);
}
