:root {
  --clr-lightBlue: #1992d4;
  --clr-lightGray: #e2e8f0;
  --clr-gray: #676767;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-orange: #f0b429;
  --clr-shadow: rgba(0, 0, 0, 0.227);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ======================= 
       GRID-CONTAINER 
   ======================= */
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.1fr 4fr;
  grid-template-rows: 1.18fr 5fr;
}

/* ======================= 
          HEADER 
   ======================= */
header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  padding: 15px 20px;
  background-color: var(--clr-white);
  color: var(--clr-black);
  box-shadow: 0px 2px 5px var(--clr-shadow);
  z-index: 1;
}

/* Row-NavBar-Top */
.row-navbar-top,
.row-navbar-bottom {
  /* border: 1px solid #000; */
  width: 1050px;
  margin: auto;
}

.row-navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form.row-navbar-top-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.form_icon {
  width: 25px;
}

.form_control {
  margin-left: 15px;
  padding: 0 20px;
  width: 560px;
  height: 30px;
  background-color: var(--clr-lightGray);
  font-size: 16px;
  border: none;
  border-radius: 20px;
  outline: none;
}

/* Row-Navbar-Top-Right */
.row-navbar-top-right {
  flex-grow: 1.6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-right-boy-darren-icon {
  width: 50px;
}

.right-profile-name {
  font-size: 20px;
}

/* Row-NavBar-Bottom */
.row-navbar-bottom {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Row-NavBar-Bottom-Left */
.row-navbar-bottom-left {
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.top-left-boy-darren-icon {
  width: 70px;
}

.intro {
  margin-left: 20px;
}

.intro .greetings {
  font-weight: 600;
}

/* Row-NavBar-Bottom-Right */
.row-navbar-bottom-right {
  flex-grow: 0.7;
}

.nav-bar-btn {
  display: flex;
  justify-content: space-between;
}

.nav-item-btn {
  list-style: none;
}

.nav-bar-btn-btn {
  padding: 12px 35px;
  background-color: var(--clr-lightBlue);
  color: var(--clr-white);
  border: none;
  border-radius: 22px;
  font-size: 15px;
}

/* ======================= 
            ASIDE 
   ======================= */
aside {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  background-color: var(--clr-lightBlue);
  color: var(--clr-white);
}

/* Dashboard */
.dashboard {
  margin: 15px 0 0 15px;
  display: flex;
  align-items: center;
}

.dashboard_icon {
  width: 50px;
}

.dashboard_title {
  margin-left: 10px;
  font-size: 28px;
  font-weight: 500;
}

/* Col-NavBar */
.col-navbar {
  margin-left: 30px;
}

.nav_link {
  display: flex;
  align-items: center;
}

.nav_icon {
  margin-right: 18px;
  width: 25px;
}

.nav_bar {
  margin: 60px 0 70px;
}

.nav_item {
  margin-bottom: 20px;
  font-size: 20px;
  list-style: none;
}

.nav_link {
  text-decoration: none;
  color: var(--clr-white);
}
/* ======================= 
            MAIN 
   ======================= */
main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: var(--clr-lightGray);
  display: grid;
  grid-template-columns: 2fr 0.8fr;
}
/* ======================= 
         Projects 
 ======================= */
.proj {
  width: 95%;
  margin: 25px auto 60px;
}

.proj_container {
  margin-top: 10px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(220px, 1fr));
}

/* Card-Projects */
.proj .card {
  border-left-style: solid;
  border-color: var(--clr-orange);
  border-width: 7px;
  background-color: var(--clr-white);
  border-radius: 7px;
  box-shadow: 2px 2px 5px var(--clr-shadow);
}

.proj .card_body {
  width: 100%;
  height: 100%;
  padding: 35px 25px 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proj .card_title {
  margin-bottom: 5px;
}

.proj .card_text {
  font-size: 14px;
  font-weight: 300;
  color: var(--clr-gray);
}

.proj .card_link_content {
  align-self: flex-end;
}

.proj .card_link {
  margin-left: 20px;
}

/* ======================= 
        Articles  
 ======================= */
.articles {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

/* Announcements */
.annc {
  width: 90%;
  margin-top: 25px;
}

.annc .card {
  margin-top: 10px;
  width: 100%;
  padding: 30px;
  background-color: var(--clr-white);
  border-radius: 7px;
  box-shadow: 2px 2px 5px var(--clr-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.annc .card_text {
  font-size: 11px;
  font-weight: 300;
  color: var(--clr-gray);
}

.annc hr {
  border-top: 1px var(--clr-gray);
  border-style: solid none none none;
}

/* Trending */
.trend {
  width: 90%;
  margin-top: 10px;
}

/* Trending-Card */
.trend .card {
  margin-top: 10px;
  width: 100%;
  padding: 20px 30px 11px;
  background-color: var(--clr-white);
  border-radius: 7px;
  box-shadow: 2px 2px 5px var(--clr-shadow);
}

.list_group_item {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.list_group_details p:nth-child(1) {
  font-weight: 500;
}

.list_group_details p:nth-child(2) {
  color: var(--clr-gray);
}

.list_group_icon {
  width: 50px;
}

.list_group_text {
  font-size: 12px;
}

/* ======================= 
          HOVER 
 ======================= */
.dashboard_icon:hover,
.dashboard_title:hover,
.form_icon:hover,
.top-right-icons:hover,
.right-profile-name:hover,
.nav-bar-btn-btn:hover {
  color: var(--clr-gray);
  cursor: pointer;
}
